{
  "extends": ["taro"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "Taro"
      }
    ],
    "import/no-commonjs": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ]
  }
}
